body {
    font-family: Arial, sans-serif;
    background-image: url(/FTBJK.jpeg);
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.game {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #2ecc71;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    font-size: 12px; 
}